@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Viga&display=swap'); */

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: "Viga", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  /*background: linear-gradient(45deg, #ffa500, #2970ff);*/
}

/*::-webkit-scrollbar-thumb {*/
/*  background:#000*/
/*  background-size: cover;*/
/*  border-radius: 500px;*/
/*}*/

body {
  background: #f1f2f3;
}

#navbar a.active {
  /* background: #fff; */
  color: #2B7FFF;
  animation: navbarsIcon 0.1s linear forwards;
}

#navbar a.active #icon {
  color: #2B7FFF;
}

@keyframes navbarsIcon {
  0% {
    transform: scale(90%);
  }
  100% {
    transform: scale(100%);
  }
}

#loader {
  width: 100px;
  height: 100px;
  background: transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #2B7FFF;
  border-left: 3px solid #2B7FFF;
  border-right: 3px solid #2B7FFF;
  border-radius: 50%;
  animation: homeLoader 1s linear infinite;
}

@keyframes homeLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#similar-products {
  overflow-x: scroll;
}